body {
  margin:0;
  padding:0;
}

/* ---- particles.js container ---- */
#particles-js{
  position: fixed;
  z-index: 1;
  background-color: #0F5E9C;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
